@use '@/scss/abstracts';

.mainlayout {
  height: 100vh;
}

.aside {
  background: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  flex: 0 0 240px !important;
  max-width: 240px !important;
  min-width: 240px !important;
  width: 240px !important;

  @include abstracts.mediaquery(md) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
    height: 100%;
    box-shadow: none;
  }
}

.header {
  background: #fff !important;
}
